


<div class="container-fluid text-center">
	<div class="row content">
		<div id="bodySection" class="col-md-8 text-left">
			<table-root></table-root>
		</div>

		<div id="actionPane" class="panel panel-default col-md-4 rounded">
			<div class="panel-heading bg-info text-white" style="padding: 10px;">
				<h3 class="panel-title">Selected Record Title</h3>
			</div>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#details">Details</a></li>
				<li><a data-toggle="tab" href="#add">Add</a></li>
				<li><a data-toggle="tab" href="#edit">Edit</a></li>
			</ul>

			<div class="tab-content">
				<div id="details" class="tab-pane fade in active">
					<h3>Details</h3>
					<p>Show some record details here.</p>
				</div>
				<div id="add" class="tab-pane fade">
					<h3>Add</h3>
					<p>Add a new record.</p>
				</div>
				<div id="edit" class="tab-pane fade">
					<h3>Edit</h3>
					<p>Edit a record here.</p>
				</div>
			</div>
		</div>

	</div>
</div>