

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header bg-light">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">AIMS Admin</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="student-table"><a routerLink="/StudentTable">Students <span class="sr-only">(current)</span></a></li>
				<li class="school-table"><a routerLink="/SchoolTable">Schools</a></li>
				<li class="tournament-table"><a routerLink="/TournamentTable">Tournaments</a></li>
				<!--<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tournaments <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Current</a></li>
						<li><a href="#">Scores</a></li>
						<!--<li><a href="#">History</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">History</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#"></a></li>
					</ul>
				</li>-->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
				<!--<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>-->
			</ul>
			<!--<form class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
			</form>-->
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<!--BREADCRUMB SETUP-->
<!--<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Schools</a></li>
	<li class="active">All Schools</li>
</ol>-->

<div class="container-fluid text-center"  id="bodySection">
	<div class="row content">
		<div class="col-md-8 text-left">

			<router-outlet></router-outlet>
			<!--PAGINATION SETUP-->
			<!--
		<div class="row">
			<div class="col-md-4"></div>
			<nav class="col-md-4" aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
			</nav>
			<div class="col-md-4"></div>
		</div>
		</ul>-->
	</div>

	<div id="actionPane" class="panel panel-default col-md-4 rounded">
		<div class="panel-heading bg-info text-white" style="padding: 10px;">
			<h3 style="font-weight: 600;" class="panel-title">Panel Title Here</h3>
		</div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#details">Details</a></li>
			<li><a data-toggle="tab" href="#add">Add</a></li>
			<li><a data-toggle="tab" href="#edit">Edit</a></li>
		</ul>

		<div class="tab-content">
			<div id="details" class="tab-pane fade in active">
				<h3>Details</h3>
				<p>Show some details here.</p>
				<!--<school-details></school-details>
			<student-details></student-details>
			<tournament-details></tournament-details>-->
		</div>
				<div id="add" class="tab-pane fade">
					<h3>Add</h3>
					<p>Add a new record.</p>
				</div>
				<div id="edit" class="tab-pane fade">
					<h3>Edit</h3>
					<p>Edit a record here.</p>
				</div>
			</div>
		</div>

	</div>
</div>