<!--TRY TO GET ROUTING WORKING FOR THE TABLE COMPONENT/MODULE/HTML-->
<table class="table table-md table-striped table-hover">
	<tr>
		<th>Hunting License #</th>
		<th>First</th>
		<th>Last</th>
		<th>Date of Birth</th>
	</tr>
	<tr *ngFor="let student of students"> <!--this is where the click events will be placed to control action pane (needs to be cursor only, not carot)-->
		<td>{{student?.huntingLicenseNumber}}</td>
		<td>{{student?.firstName}}</td>
		<td>{{student?.lastName}}</td>
		<td>{{student?.dateOfBirth | date:'MM/dd/yyyy' }}</td>
	</tr>
</table>
