<!--TRY TO GET ROUTING WORKING FOR THE TABLE COMPONENT/MODULE/HTML-->
<table class="table table-md table-hover table-bordered">
	<tr style="cursor: default; background-color: lightgray;">
		<th>Hunting License #</th>
		<th>First</th>
		<th>Last</th>
		<th>Date of Birth</th>
	</tr>
	<tr *ngFor="let student of students" style="cursor: pointer">
		<td>{{student?.huntingLicenseNumber}}</td>
		<td>{{student?.firstName}}</td>
		<td>{{student?.lastName}}</td>
		<td>{{student?.dateOfBirth | date:'MM/dd/yyyy' }}</td>
	</tr>
</table>
