<table class="table table-md table-hover table-bordered">
	<tr style="cursor: default; background-color: lightgray;">
		<th>Name</th>
		<th>Location</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Start</th>
		<th>End</th>
	</tr>
	<tr *ngFor="let tournament of tournaments" style="cursor: pointer">
		<td>{{tournament?.name}}</td>
		<td>{{tournament?.location}}</td>
		<td>{{tournament?.address}}</td>
		<td>{{tournament?.city}}</td>
		<td>{{tournament?.state}}</td>
		<td>{{tournament?.zip}}</td>
		<td>{{tournament?.startDate | date:'MM/dd/yyyy'}}</td>
		<td>{{tournament?.endDate | date:'MM/dd/yyyy'}}</td>
	</tr>
</table>
